body {margin:0;
background-image: url(./img/baner.jpg);
}
div ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #F79F3C;
  position: relative;
  height: 60px;

  z-index: 999;
}


div ul li {
  float: right;
}
  
div ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;

}

div ul li a:hover:not(.active) {
  background-color: #133;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.active {
  background-color: #111;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.logo{
  float: left;
  width: 55%;
  height: 150px;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: -20px;
  display: block;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
  z-index: 999;

}
img
{

  position: relative;
}

.C02 {
  background-color: #F79F3C;  
  position: relative;

  opacity: 0.7;

}
.CO2 img{
  background-color: #F79F3C;  

}
#header{
  padding: 10px;
  z-index:999;


}
/*.banner{
  margin-top: -60px;
  z-index: 1px;
   position: absolute;
}*/
.PageBody{
  height: 500px;
}
.titleBody{

  text-align: left;
  margin-top:200px;
  margin-left: 100px; 
  height: 100%;
}
footer{
  background-color: #FC783F;
  width: 100%;
  height: 170px;
  position: absolute;

}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:5px; 
  margin-top: 31px;
 }

.button:hover {
  background-color: green;
}
.footer-left{
  width: 50%;
  color: white;
  position: absolute;
  padding: 5px;
  margin-top: 30px;
  float: left;
}
.footer-right{
   width: 47%;
  margin-top: 20px;
  color: white;
  position: relative;
  padding: 5px;
  float: right;

}
.C03{
  width: 40%;
  float: left;

}

.VS{
  border-radius: 50%;
  text-align: bottom;

}

.VS:hover {
  border-radius: 50%;
}

.VS img{
 
  height: auto;
  border-radius: 50%;
  

}

.desc {
  padding: 15px;
  text-align: bottom;
  border-radius: 50%;
}

.C04{
  width: 60%;
  float: right;
  margin-right: -30px;
}
td{
  size: 25%;
  text-align: center;
  width: 200px;

}
.so{
  border-right: 1px solid white;
}
.C05{
  width: 65%;
  float: left;


}

.C06{
  width: 35%;
  float: right;

}
button{
  margin-top: -15;
}
h4{
  font-size: 30px;
}

/** {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.logo{
 
   
}*/